.sidebar
	min-width: 270px

	&__unit
		padding: 40px 40px 16px 40px
		margin-bottom: 30px
		background: $auxColor

		&-title
			font: bold 18px $mainFont
			color: $mainColor
			margin-bottom: 25px

	&__categories

.categories__link
	display: block
	padding: 15px 0
	font-size: 16px