.footer,
.header,
section,
.nav
 min-width: 940px

.link
	&:hover,
	&._active
		color: $mainColor

.btn
	display: inline-block
	padding: 17px 20px
	color: #fff
	text-align: center
	font:
		size: 18px
		weight: normal
	border-radius: 55px
	background: $mainColor
	&:hover
		background: darken($mainColor, 5%)

.logo
	display: inline-block
	position: relative

.logo__img,
.logo__text
	display: inline-block
	vertical-align: top

.logo__img
	float: left
	margin-top: 10px
	margin-right: 10px
	@include sprite($s-logo)

.logo__subtext-wrap
	float: left
	margin-right: 10px

.logo__name
	margin-bottom: 0
	text-transform: uppercase
	font: bold 45px $mainFont
	color: $accentColor

	span
		color: $mainColor

.logo__desc
	font: normal 17.5px / 0 $mainFont
	letter-spacing: 2.1px
	color: $accentColor

.logo__hours
	display: block
	float: right
	font: bold 80px / 80px $mainFont
	color: $accentColor


.search
	max-width: 330px
	width: 28.20%
	position: relative

.search__input
	width: 100%
	height: 35px
	padding: 10px 20px
	padding-right: 48px
	border-radius: 30px
	border: 1px solid lighten($mainColor, 20%)

	&:focus
		border-color: $mainColor

.search__btn
	cursor: pointer
	background-color: transparent
	border: 0
	padding: 17px 25px
	position: absolute
	top: 0px
	right: 0px

	&::before
		content: ''
		display: block
		@include sprite($s-search)
		position: absolute
		top: 8px
		left: 50%
		transform: translateX(-50%)

.text
	text-align: left
	font: normal 16px / 24px $mainFont
	color: $accentColor

.page-title
	font: bold 36px $mainFont
	color: $accentColor
	text-align: center
	text-transform: uppercase
	margin-bottom: 75px

	&._size-small
		font-size: 28px
		margin-bottom: 20px
		margin-left: 15px

.product-list
	display: flex
	flex-wrap: wrap
	justify-content: center

	&__item
		margin: 0 6px 12px 6px


.product
	display: flex
	flex-direction: column
	justify-content: flex-start
	width: 270px
	min-height: 366px
	text-align: center
	background: $productBg
	&:hover
		box-shadow: 0 0 15px 5px #EDEEF0

	&__img
		display: block
		width: 100%
		min-height: 222px
		padding: 5px
		overflow: hidden
		text-align: center

		img 
			max-width: 100%

	&__name
		font:
			weight: bold
			size: 18px
		margin: 15px 0
		padding: 0 10px
		word-wrap: break-word
		color: $accentColor

	&__price
		font:
			weight: bold
			size: 18px
		color: $mainColor
		margin-bottom: 5px

		&::after
			content: ' ₽'
			color: inherit

	&__btn
		margin-top: auto
		position: relative
		border-radius: 0

		&::before
			content: ''
			display: block
			@include sprite($s-product-cart)
			position: absolute
			top: 10px
			left: 20px

.breadcrumbs
	display: flex
	padding: 0
	margin-left: 15px

	&__item
		font-size: 13px
		color: $mainColor
		padding-right: 5px

		&::after
			content: '->'
			margin-left: 5px

		&:last-child::after
			content: ''

	&__link
		color: $mainColor
		&:hover
			border-bottom: 1px solid $mainColor
		&._active
			color: $accentColor
			border-bottom: transparent