// Footer
footer.footer
	.container
		.footer__body
			a(href="index.html").footer__logo.logo.clearfix
				.logo__img
				.logo__text
					.logo__subtext-wrap
						h1.logo__name Авто
							span Макс
						span.logo__desc магазин автозапчастей
					span.logo__hours 24

			ul.footer__link-box
				li.footer__link-item
					a.footer__link.link(href="about.html") О нас

				li.footer__link-item
					a.footer__link.link(href="contacts.html") Контакты

				li.footer__link-item
					a.footer__link.link(href="news.html") Новости

			.footer__method-pay.method-pay
				h3.method-pay__title Способ оплаты
				span.method-pay__desc Наличными при получении товара

		.footer__copyright
			p © 2017.АВТОМАКС все права защищены