// Хедер
header.header
	.container
		.header__main

			a(href="index.html").header__logo.logo.clearfix
				.logo__img
				.logo__text
					.logo__subtext-wrap
						h1.logo__name Авто
							span Макс
						span.logo__desc магазин автозапчастей
					span.logo__hours 24

			form(action="/").header__search.search
				input(type="text" name="search").search__input
				button.search__btn

			.header__basket.basket
				.basket__body

					.basket__icon(data-gds="5")

					span.basket__gds 5

				a(href="#").basket__footer.js-show-basket Моя корзина

				// Всплывашка в корзине
				ul.basket__product-wrap.basket-products
					.basket__btn-remove.btn-remove.js-hide-basket

					// Товар который в всплывашке
					-for(i=0; i<=5; i++) {
					li.baskets-products__item.products-item
						.products-item__img
							img(src="static/img/products/product-1.jpg" alt="Товар в корзине")

						.products-item__caption
							h3.products-item__caption Аварийный клапан

						.products-item__price-and-btn
							.products-item__price.product__price 100
							.products-item__btn-remove.btn-remove
					-}

					.basket__check-out-and-total
						a(href="#").basket__btn.btn Посмотреть корзину

						span.basket-total.product__price 19923

nav.nav
	.container
		ul.header__nav
			li
				a(href="index.html").nav__link.link Главная
			li
				a(href="goods.html").nav__link.link Товары

			li
				a(href="news.html").nav__link.link Новости

			li
				a(href="suppliers.html").nav__link.link Поставщикам

			li
				a(href="about-us.html").nav__link.link О нас

			li
				a(href="contacts.html").nav__link.link Контакты