aside.sidebar.page-goods__sidebar
		h3.sidebar__title Категории
		ul.sidebar__categories-list
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти
			li.sidebar__item 
				a.sidebar__link.link(href="#") Ваз.Запчасти