// Сайдбар
aside.sidebar.page-goods__sidebar

		.sidebar__categories.sidebar__unit
			h3.sidebar__title.sidebar__unit-title Категории
			ul.sidebar__categories-list

				li.categories__item 
					a.categories__link.link(href="subcategories-level-1.html") Ваз.Запчасти

				li.categories__item 
					a.categories__link.link(href="#") Ваз.Запчасти

				li.categories__item 
					a.categories__link.link(href="#") Ваз.Запчасти

				li.categoriesr__item 
					a.categories__link.link(href="#") Ваз.Запчасти

				li.categories__item 
					a.categories__link.link(href="#") Ваз.Запчасти

				li.categories__item 
					a.categories__link.link(href="#") Ваз.Запчасти

				li.categories__item 
					a.categories__link.link(href="#") Ваз.Запчасти

		//- .sidebar__filter-price.sidebar__unit
		//- 	h3.sidebar__title.sidebar__unit-title Фильтер по цене


