// Сайдбар
aside.sidebar.page-goods__sidebar

		.sidebar__categories.sidebar__unit
			h3.sidebar__title.sidebar__unit-title Категории
			ul.sidebar__categories-list

				- var x =8;
				- for (var i=1; i<=x; i++){
				li.categories__item 
					a.categories__link.link(href="categories.html") Ваз.Запчасти
				- }

		//- .sidebar__filter-price.sidebar__unit
		//- 	h3.sidebar__title.sidebar__unit-title Фильтер по цене


