extends ../templates/main

block title
	|Скидка 5 рубасов

block content
	section.page-about-us
		.container

			article.article
				header.article__header
					h2.article__title О нас

				.article__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, repellendus ducimus nostrum ea non, voluptates sint. Veritatis aut perferendis ipsum! Explicabo recusandae ab possimus temporibus, labore voluptas. Placeat aliquam, recusandae nemo vel rerum architecto. Aliquam quidem error iste magnam doloribus consequuntur a facere reprehenderit cumque repellat necessitatibus voluptates dolores, unde nam libero non natus saepe illo recusandae rerum consequatur velit quis ab excepturi suscipit. Officia saepe, architecto laboriosam earum magnam nesciunt corrupti quam, quasi amet nobis odio necessitatibus eveniet aliquid ratione? Velit, quod, exercitationem. Necessitatibus eos voluptatibus sequi asperiores aut consequatur expedita laborum, exercitationem, quia suscipit obcaecati totam iure aspernatur!

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempore quibusdam aliquid ipsam, fuga nesciunt quaerat expedita nemo, magni numquam culpa quos illo dolorem. Quibusdam quas necessitatibus voluptates deleniti asperiores adipisci blanditiis iste dolorem. Vitae ratione earum vel non qui, veniam natus commodi cumque optio sint illum tempore quasi, aliquam.