extends ../templates/main

block title
	|Товары

block content

	// Содержимое страницы товаров
	section.page-goods
		.container

			include ../modules/sidebar

			//Контейнер для заголовка и списка товаров
			.goods-content
				ol.breadcrumbs
					li.breadcrumbs__item 
						a(href="goods.html").breadcrumbs__link Все товары

				h2.page-title._size-small Все товары
				// Список товаров
				ul.page-goods__product-list.product-list
					- var x =15;
					- for (var i=1; i<=x; i++){
					// Товар
					li.product-list__item.product

						a(href="product.html").product__img
							img(src="static/img/products/product-1.jpg" alt="Аварийный клапан")

						strong.product__price 100

						strong.product__name Аварийный клапан

						a(href="javascript:void(0);").product__btn.btn Добавить в корзину
					- }

					include ../modules/pagination