extends ../templates/main

block title
	|Аварийный клапан

block content
		main.page-product
			.container
				.page-product__box
					.page-product__img
						img(src="static/img/products/product-1.jpg", alt="Товар")
					.page-product__body
						h2.page-product__title Аварийный клапан
						p.page-product__desc.text.
							Lorem Ipsum is simply dummy text of the printing and typesetting industry  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab molestiae, sequi ad cum neque natus, iure nesciunt harum repellendus recusandae commodi, dolore provident fugiat sapiente odit quas delectus magnam nulla repudiandae! Obcaecati quae harum reiciendis fuga omnis quasi fugit laboriosam in. Eaque earum tenetur dolore enim.


						footer.page-product__footer
							span.page-product__price.product__price 100
							a(href="javascript:void(0);").btn.page-product__btn + Добавить в корзину
