extends ../templates/main

block title
	|Поставщикам

block content

	main.suppliers
		.container

			h2.page-title Написать нам, обратная связь

			form(action="/" method="post" name="suppliers-form").suppliers__form.form

				.form__group
					label.form__label(for="name") Имя:
					input.form__input(type="text" name="name" id="name" placeholder="Например: Евгений" required)
					.form__icon-valid
					.form__icon-invalid

				.form__group
					label.form__label Род дейятельности:

					input.form__radio-btn(type="radio" name="working" id="working-1" value="Частное лицо")
					label.form__radio-label(for="working-1") Частное лицо

					input.form__radio-btn(type="radio" name="working" id="working-2" value="Автомагазин")
					label.form__radio-label(for="working-2") Автомагазин

					input.form__radio-btn(type="radio" name="working" id="working-3" value="Автосервис")
					label.form__radio-label(for="working-3") Автосервис

					input.form__radio-btn(type="radio" name="working" id="working-4" value="Оптовый клиент")
					label.form__radio-label(for="working-4") Оптовый клиент

				.form__group
					label.form__label(for="map") Город, населенный пункт:
					input.form__input(type="text" name="map" id="map" placeholder="Например: Омск" required)
					.form__icon-valid
					.form__icon-invalid

				.form__group
					label.form__label(for="email") Ваш почтовый E-mail:
					input.form__input(type="email" name="email" id="email" placeholder="Например: evgenilokovich@mail.ru" required)
					.form__icon-valid
					.form__icon-invalid

				.form__group
					label.form__label(for="tel") Ваш телефон:
					input.form__input(type="tel" name="tel" id="tel" placeholder="Например: 89087594748" required)
					.form__icon-valid

				.form__group
					label.form__label(for="mess") Ваше сообщение:
					textarea.form__input.form__textarea(name="mess" id="mess" placeholder="Вводите ваше сообщение" required)
					.form__icon-valid
					.form__icon-invalid

				button(type="submit").form__btn.btn Отправить